flows.json
[{"type":"tab","id":"1d744754.a26f09","label":"new package"},{"id":"3936443c.8fb75c","type":"sensingkit","z":"1d744754.a26f09","name":"","subtype":"sensingkit","sensor":"accelerometer","x":167,"y":315,"wires":[["1bf801fa.55122e","10667ffb.c82fa","2893534a.f8663c"]]},{"id":"1bf801fa.55122e","type":"function","z":"1d744754.a26f09","name":"","func":"return {\n    type: \"set-bulb-on\",\n    payload: msg.payload.x > 15 ? \"on\" : \"off\",\n};","outputs":1,"noerr":0,"x":330,"y":309,"wires":[["ce9c120d.963bf","a76d72d.04ffd9"]]},{"id":"a76d72d.04ffd9","type":"debugger","z":"1d744754.a26f09","name":"","active":true,"console":"false","complete":"true","x":513,"y":266,"wires":[]},{"id":"ce9c120d.963bf","type":"bulbsout","z":"1d744754.a26f09","name":"","subtype":"set-bulb-on","value":"","x":510,"y":349,"wires":[]},{"id":"d6abcd9a.122ce","type":"pipstaprint","z":"1d744754.a26f09","name":"","message":"","subtype":"printer","x":518,"y":182,"wires":[]},{"id":"1b3c634.3d44e9d","type":"app","z":"1d744754.a26f09","name":"","appId":"webapp","layout":null,"x":492,"y":489,"wires":[]},{"id":"10667ffb.c82fa","type":"chartify","z":"1d744754.a26f09","name":"","title":"","chart":"gauge","xlabel":"","ylabel":"","min":"0","max":"50","labels":"shake harder:15,done it!:max","maxreadings":"","ticks":"","xtype":[{"source":"sensingkit","name":"x","type":"numeric"}],"ytype":[],"subtype":"bar","x":334,"y":491,"wires":[["1b3c634.3d44e9d"]]},{"id":"2893534a.f8663c","type":"function","z":"1d744754.a26f09","name":"","func":"var max = context.get(\"max\") || 0;\n\n\nif (msg.payload.x > max){\n    \n    context.set(\"max\", msg.payload.x);\n    \n    return {\n        payload: \"A new maximum shake! \" + max,\n    }\n}","outputs":1,"noerr":0,"x":344,"y":197,"wires":[["d6abcd9a.122ce"]]}]